   .hide{
            display: none;
        }

        *
        {box-sizing: border-box
            ;margin: 10;
        padding:10;
        font-weight: 200;
        font-family: 'Open Sans', sans-serif;}

    

        h2{
           text-align: center;
              color: green;
}

           #startScreen{
               text-align: center;
           }


           .questionScreen{
            text-align: center;
        }

        .highScoreScreen{
            text-align: center;
        }

        .viewhighScores{
            text-align: center;

        }



           h1{text-align: end; color: blue;}
           h3{text-align: center;}
